*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #252525;
}

.nav-bar {
    width: 100%;
    height: 7rem;
    margin-bottom: 60px;
    border-bottom: 1px solid white;
}

.list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul li {
    list-style-type: none;
    margin-right: 20px;
    margin-top: 40px;
}

.list ul li a {
    font-size: 20px;
    font-weight: 600;
    padding: 28px;
    text-decoration: none;
    border-radius: 2rem;
}

.list ul li a:hover {
    background-color: powderblue;
    border-radius: 2rem;
    color: #252525;
    transition: .5s ease-in-out;
}

.navbar-fixed {
    position: fixed;
    z-index: 9999;
}


.cta {
    display: flex;
    justify-content: center;
}

.welcome {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: center;
}

model-viewer {
    width: 500px;
    height: 500px;
    overflow-x: hidden;
}

.new-box {
    display: none;
}

.back-link {
    width: 80px;
    height: auto;
}

.back-link a {
    border-radius: 20px;
    padding: 1rem;
    border: white 1px solid;
    font-size: 24px;
    text-decoration: none;
    display: none;
}

.back-link a:hover {
    background-color: #f7f7f7;
    color: #252525;
    transition: .7s ease-in-out;
}

.product-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-box img {
    width: 500px;
    height: 500px;
}

.title-box {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.desc-box {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.card {
    width: 300px;
    height: 350px;
    margin: 16px;
    border-radius: 4rem;
    background-color: #242424;
    position: relative;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, .2);
}

.product {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 64px;
    z-index: 9;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-delay: .25s;
}

.product:hover {
    transform: rotate3d(1, 1, 10, 360deg) scale(125%);
}

.product img {
    width: 300px;
    height: 300px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #262626;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 4rem 4rem;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.description {
    font-size: 18px;
    font-weight: 200;
}

.top-item {
    margin-top: 80px;
    background-color: coral;
}

top-item-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}

.top-item-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.top-item-row img {
    width: 400px;
    height: auto;
}

.top-item-detail {
    color: #f7f7f7;
}

.top-item-detail h3 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 8px;
}

.top-item-detail p {
    font-size: 24px;
    letter-spacing: 4px;
}
